html,body{
    text-align: center;
    font-size: 1vw;
    height: 100%;
    width: 100%;
    line-height:100%;
}
body{
    margin: 0;
    padding: 0;
}
div#logo{
    font-size:2vw;
    background-color : red ;
    color: white;
    position: absolute ;
    right:0;
    width: 50%;
    height: 12%;
    padding:10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#currentTime{
    font-size:2vw;
    background-color : rgb(89, 0, 255) ;
    color: white;
    position: absolute ;
    left:0 ;
    width: 50%;
    height: 12%;
    padding:10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width:11%;
    height:15%;
    border-radius: 50%;
}

div#info{
    font-size: 4vw;
    width: 100%;
    height: auto;
}

 div#app{
   text-align:center;
   padding:2px;
   font-size:2em;
   cursor: pointer;
   min-height: 100%;
   min-width: 100%; 
   position: absolute;
 }

 body{background:#FEFA83;}

 video#video{
    width:100%;
    height:100%;
    position:absolute;
    margin-left: -50%;
 }

 div#media{
     width:70%;
     height:60%;
     border:5px solid #000;
     position:relative;
     margin-left: 15%;
     box-shadow:6px 8px 6px 6px rgba(0, 0, 0, 0.5);
     border-radius:10px;
 }
 div#UI{
     top:90%;
     position:relative;
     height:170px;
     width:100%;
     margin: 40px;
 }
 div#media p{
  text-align:center;
  background:#4585df;
  color:white;
  font-size:2vw;
  cursor: pointer;
  height: 33%;
  line-height: 700%;
  margin-top: 0;
  margin-bottom: 1px;
}
button{
  background: #4585df;
  height: 20%;
  width: 12%;
  border-radius: 4px;
  font-size:2vw;
  min-height: 70px;
  margin: 10px;
}
.el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;

  }
  .bg-purple-dark {
    background: #4585df;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 70px;
  }
  .row-bg {
    padding: 20px 0;
    background-color: #f9fafc;
  }