<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视频播放器</title>
    <script src="vue.js"></script>
    <!-- <script src="https://github.com/PanJiaChen/vue-element-admin"></script> -->
    <link rel="stylesheet" href="ks.css">
    <!-- <link rel="stylesheet" href="https://github.com/PanJiaChen/vue-element-admin"> -->
</head>
<body>
    <div id="app">
        <div id="info">
                <div class="grid-content bg-purple-dark">第六组</div>  
        </div>
        <div>
            <div id="media">        
                <div id="mediaDiv">
                    <video src="https://jxzy-dmxy.jxstnu.edu.cn/tedVideos/v02004040000bpa9p3egncoejcefuv4g.mp4" id="video"></video>
                    <audio src="https://jxzy-dmxy.jxstnu.edu.cn/cs1.mp3" id="audio"></audio>
                    <div id="currentTime"></div>
                    <div id="logo"></div>
                </div>                
            </div>
        </div>
        <div id="UI">
            <button type="button" id="pre">pre</button>
            <button type="button" id="play">play</button>
            <button type="button" id="stop">stop</button>
            <button type="button" id="next">next</button>
            <button type="button" id="switch">切换媒体</button><br>
            <!-- <el-button type="primary" id="pre">pre</el-button>
            <el-button type="primary" id="play">play</el-button>
            <el-button type="primary" id="stop">stop</el-button>
            <el-button type="primary" id="next">next</el-button>
            <el-button type="primary" id="switch">切换媒体</el-button>             -->
            页面：
            <input type="text" value=" " class="in" id="nszhuan" v-model="num" >
            <span v-if="num < 1">输入框内不能小于1</span>
            <span v-else-if="num > 118">输入框内不能大于118</span>
            <!-- <el-button type="primary" id="zhuan">转跳</el-button> -->
            <button type="button" id="zhuan">转跳</button>
        </div>
    </div>
</body>
    <script src="mediaData.js"></script>
    <script src="ks.js"></script>
</html>